HTML CSSResult Skip Results Iframe
EDIT ON
body{
margin: 0;
overflow: hidden;
background: #000;
}

i{
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-animation: 'screen'  infinite;
  animation: 'screen'  infinite;
}


i:nth-child(1){
  top:20px;
  left:30px;
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(2,226,252,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #02e2fc;
  animation-duration: 5s;
}

i:nth-child(2){
  top:420px;
  left:30px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(250,160,2,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #faa002;
  animation-duration: 21s;
}

i:nth-child(3){
  top:550px;
  left:880px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(20,252,2,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #14fc02;
  animation-duration: 5s;
}

i:nth-child(4){
  top:5px;
  left:1030px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(252,2,196,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #fc02c4;
  animation-duration: 4s;
}

i:nth-child(5){
  top:280px;
  left:12px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(139,44,148,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #8b2c94;
  animation-duration: 5s;
}

i:nth-child(6){
  top:550px;
  left:30px;
background: -webkit-radial-gradient(center, ellipse cover,  rgba(251,184,41,0.65) 0%,rgba(0,0,0,0) 100%);
box-shadow:0px 0px 5px 0px #FBB829; 
  animation-duration: 6s;
}

i:nth-child(7){
  top:650px;
  left:50px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(195,255,104,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #C3FF68; 
  animation-duration: 15s;
}

i:nth-child(8){
  top:20px;
  left:860px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,0,102,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #FF0066; 
  animation-duration: 5s;
}
i:nth-child(9){
  top:896px;
  left:132px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,0,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #FFFF00; 
  animation-duration: 13s;
}

i:nth-child(10){
  top:578px;
  left:357px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(127,175,27,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #7FAF1B; 
  animation-duration: 4s;
}

i:nth-child(11){
  top:380px;
  left:230px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(1,210,255,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #01D2FF; 
  animation-duration: 5s;
}

i:nth-child(12){
  top:570px;
  left:1100px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(237,247,255,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #EDF7FF; 
  animation-duration: 6s;
}

i:nth-child(13){
  top:600px;
  left:600px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,255,255,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #00FFFF; 
  animation-duration: 7s;
}

i:nth-child(14){
  top:200px;
  left:520px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,255,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #0000FF; 
  animation-duration: 14s;
}

i:nth-child(15){
  top:370px;
  left:500px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(16,225,228,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #10e1e4; 
  animation-duration: 9s;
}

i:nth-child(16){
  top:620px;
  left:730px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,51,0,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 5px 0px #FF3300; 
  animation-duration: 3s;
}
i:nth-child(17){
  top:62px;
  left:330px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,234,232,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #FFEAE8;
  animation-duration: 4s;
}

i:nth-child(18){
  top:0px;
  left:250px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,229,0,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #FFE500;
  animation-duration: 5s;
}

i:nth-child(19){
  top:600px;
  left:180px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,102,153,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #FF6699;
  animation-duration: 6s;
}

i:nth-child(20){
  top:987px;
  left:13px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(84,156,204,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #549CCC;
  animation-duration: 7s;
}

i:nth-child(21){
  top:120px;
  left:930px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(184,175,3,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #B8AF03;
  animation-duration: 8s;
}

i:nth-child(22){
  top:80px;
  left:700px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(171,250,249,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #ABFAF9;
  animation-duration: 5s;
}

i:nth-child(23){
  top:350px;
  left:720px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(127,15,255,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #7F0FFF;
  animation-duration: 2s;
}

i:nth-child(24){
  top:997px;
  left:678px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(48,128,0,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #308000;
  animation-duration: 3s;
}

i:nth-child(25){
  top:714px;
  left:246px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,38,38,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #FF2626;
  animation-duration: 4s;
}

i:nth-child(26){
  top:0px;
  left:480px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(15,29,215,0.65) 0%,rgba(0,0,0,0) 100%);
box-shadow: 0px 0px 5px 0px #0F1DD7;
  animation-duration: 5s;
}

i:nth-child(27){
  top:456px;
  left:1000px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(51,102,153,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #336699;
  animation-duration: 6s;
}

i:nth-child(28){
  top:350px;
  left:865px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(70,172,255,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #46ACFF;
  animation-duration: 7s;
}

i:nth-child(29){
  top:100px;
  left:100px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(222,4,5,0.65) 0%,rgba(0,0,0,0) 100%);
box-shadow: 0px 0px 5px 0px #DE0405;
  animation-duration: 8s;
}

i:nth-child(30){
  top:1087px;
  left:722px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(77,254,21,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #4DFE15;
  animation-duration: 9s;
}

i:nth-child(31){
  width:200px;
  height:200px;
  top:795px;
  left:605px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(243,10,70,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #F30A46;
  animation-duration: 1s;
}

i:nth-child(32){
  top:234px;
  left:678px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(245,253,45,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #F5FD2D;
  animation-duration: 2s;
}

i:nth-child(33){
  top:270px;
  left:1230px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(178,0,255,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #B200FF;
  animation-duration: 3s;
}
i:nth-child(34){
  width:200px;
  height:200px;
  top:1126px;
  left:332px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(102,204,255,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #66CCFF;
  webkit-animation-duration: 4s;
}

i:nth-child(35){
  top:407px;
  left:83px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(20,243,175,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #14F3AF;
  animation-duration: 5s;
}

i:nth-child(36){
  width:200px;
  height:200px;
  top:176px;
  left:297px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(100,245,102,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #64F566;
  animation-duration: 6s;
}

i:nth-child(37){
  width:300px;
  height:300px;
  top:820px;
  right:10px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(236,218,65,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #ECDA41;
  animation-duration: 7s;
}

i:nth-child(38){
  top:500px;
  left:500px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,61,45,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #FF3D2D;
  animation-duration: 8s;
}


i:nth-child(39){
  top:20px;
  right:26px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(74,73,235,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #4A49EB;
  animation-duration: 9s;
}

i:nth-child(40){
  width:200px;
  height:200px;
  top:251px;
  left:1053px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,72,0,0.65) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 5px 0px #FF4800;
  animation-duration: 10s;
}


@keyframes screen {
  from {
    opacity: 0;
  }

  25%{
    opacity: 0.3;
    transform: scale3d(3, 3, 4);
  }

  50%{
    opacity: 0.75;
  }

  75%{
    opacity: 1;

  }

  to{
    opacity: 0;
  }
}


/* CÓDIGO ORIGINAL */
.base .navbar{
    display: inherit;
}
.navbar .nav-topicos{
    color: #813bea !important;
    margin-right: 60px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none !important;
}
.foto{
    margin-top: 50px;
}
.navbar .nav-topicos:hover{
    color: #ffffff !important;
    font-size: 25px;
    transition: 1s;
}
.navbar .titulo{
    color: #ffffff !important;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.button-lenguage{
    float: right;
    background-color: var(--colorPurple);
    margin-right: 10px;
    color: #fff;
}
.texto-alinhado{
    text-align: center;
    
}
.color-navbar{
    background-color:  rgb(0, 0, 0, 0)  !important;
}
.base{
    background-color: black;
}
.sobreMim .texto-sobremim{
    color: white;
    margin-bottom: 170px;
}
.sobreMim{
    padding-top: 50px;
}
.navbar-toggler.botao{
    border: none;
    outline: none;
    background-color: #5a00e1;
}
.navbar-toggler.botao:active{
    border: none;
}
.digita{
    box-shadow: .3em 0 0 #5a00e1;
    margin: 2rem 1rem;
    width: 37ch;
    overflow: hidden;
    color: #ffffff;
    white-space: nowrap;
    animation: caret .6s step-end infinite alternate, type 6s steps(23, end)
}
@keyframes type {
    0% {
        width: 0;
    }
}
@keyframes caret {
    50% {
        box-shadow: .6em 0 0 transparent;
    }
}
@use postcss-present-env {
    stage: 0;
    autoprefixer: {
        grid: true;
    }
    browsers: [
        "last 1 Chrome versions",
        "last 1 Firefox versions",
        "last 1 safari versions",
        "last 1 Edge versions"
    ]
}
.base_dois .color-titulo{
    color: #ffffff;
    text-shadow:var(--colorGrey) 5px 2px 3px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.base_dois{
    background-color: var(--colorPurple);
    padding-bottom: 100px;
}
.base_dois .line{
    background-color: #5a00e1;
    height: 4px;
    width: 300px;
    margin-bottom: 80px;
    margin-top: 60px;
}
.base .paragrafo {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    width: 300;

}
.softskils .paragrafo{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;

}
.softskils{
    margin-bottom: 50px;
}
.base_tres{
  background-color: #fefeff;
   padding-top: 50px ;
   padding-bottom: 150px,
}
.sobreMim .botao{
    color: #ffffff;
    background-color: var(--colorPurple);
    border-radius: 40px;
    font-size: 15px;
    padding: 5px 20px;
    font-weight: 400;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 20px;
}
.sobreMim .link-cv{
    text-decoration: none;
    color:  #ffffff ;
}
.softskils  .lines {
    width: 100%;
    height: 5px;
    background-color: black;
    position: relative;
    border-radius: 50px;
}
.softskils  .lines::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 90%;
    border-radius: 50px;
}
.softskils .git.lines::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 70%;
    border-radius: 50px;
}
.softskils .vue.lines::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 60%;
    border-radius: 50px;
}
.softskils .fiori.lines::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 60%;
    border-radius: 50px;
}
.softskils .animada.lines::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 98%;
    border-radius: 50px;
}
.softtext{
    color: #040305;
    margin-top: 30px;
}
.softskils .abap.lines::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 60%;
    border-radius: 50px;
}
.info-line{
    margin-top: 20px;
}
.softskils .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color: black;
    height: 20px;
}
.sobreMim .botao:hover .link-cv{
    text-decoration: none;
    color: var(--colorPurple);
    transition: 0.5s;
}
.sobreMim .botao:hover{
   border-color: var(--colorPurple) 2px;
   background-color: #ffffff;
   transition: 0.5s;
   
}

.sobreMim .nome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    font-weight: bold;  
    color: var(--colorGrey);
    font-size: 5em;
}

:root{
    --colorBlack: #040305;
    --colorPurple: #5a00e1;
    --colorGrey: #4b4a4c;
}
.container span{
 animation-name: brilho;
 animation-duration: 5s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: infinite;   
 
}
.container span:nth-of-type(2){
    animation-delay: 0.25s;
}
.container span:nth-of-type(3){
    animation-delay: 0.50s;
}
.container span:nth-of-type(4){
    animation-delay: 0.75s;
}
.container span:nth-of-type(5){
    animation-delay: 1s;
}
.container span:nth-of-type(6){
    animation-delay: 1.25s;
}
.container span:nth-of-type(7){
    animation-delay: 1.50s;
}
.container span:nth-of-type(8){
    animation-delay: 2s;
}

@keyframes brilho {
    0% {
        color: #ffffff;
        text-shadow: 0 0 12px var(--colorPurple),
        0 0 50px var(--colorPurple),
        0 0 100px var(--colorPurple)
    }
    10%, 90% {
        color: var(--colorGrey);
        text-shadow: none;
    }
}
.alinhar{
    display: inline;
}
.imagem_projetos.borda-animada{
    margin:auto;
    height:200px;
    width:250px;
    text-align: center;
    display: table;
    font-size:1em;
    background: -webkit-linear-gradient(left,var(--colorPurple) 50%, transparent 50%), 
    -webkit-linear-gradient(left, var(--colorPurple) 50%, transparent 50%), 
    -webkit-linear-gradient(top,var(--colorPurple) 50%, transparent 50%), 
    -webkit-linear-gradient(top, var(--colorPurple) 50%, transparent 50%);
    background-size: 12px 2px, 12px 2px, 2px 12px, 2px 12px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: 0 0, left bottom, 0 0, right 0;
    border-radius: 30px;
}
.borda-animada:hover {
    -webkit-animation: anima-borda 10s linear infinite;
     animation: anima-borda 10s linear infinite;
  }
  @-webkit-keyframes anima-borda {
    0% {
      background-position: 0 0, left bottom, 0 0, right 0;
    }
    100% {
      background-position: 1000px 0, -1000px bottom, 0 -1000px, right 1000px;
    }
  }
  @keyframes animaborda {
    0% {
      background-position: 0 0, left bottom, 0 0, right 0;
    }
    100% {
      background-position: 1000px 0, -1000px bottom, 0 -1000px, right 1000px;
    }
  }
.base_tres.base_dois{
  background-color: var(--colorBlack);
}
.base_tres .imagem{
    padding-top: 10px;
    border-radius: 30px;
    width: 250px;
    height: 190px;
    background-size: cover;
    cursor: pointer;
    filter: grayscale(1);
}
.base_tres .imagem:hover{
    filter: grayscale(0);
    transition: 0.5s;
}
.base_tres .imagem_projetos:hover .subtitle{
    color: var(--colorPurple);
    transition: 0.5s;
}
.projetos.container .color-titulo{
    margin-bottom: 50px;
}
.base_tres .lista_dois{
    margin-top: 100px;
}
.base_quatro{
    background-color: var(--colorBlack);
    padding-top: 50px;
    padding-bottom: 30px;
}

/*enviar email contato*/
footer{
    clear: both;
    max-width: 1200px;
    height: 500px;
    padding: 30px 10%;
    position: relative;
}

.form-container{
    width: 65%;
    height: 375px;
    position: relative;
    display: block;
    margin-left: 32%;
   

}

.form-background{
    width: 56%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: .7;
    border-radius: 20px;

}

.form-container form{
 position: absolute;
 top: 30px;
 left: 30px;
 height: 300px;
}

.form-container input, .form-container textarea{
    width: 400px;
    display:  block;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #aaa;
    border-radius: 0;
    background-color: transparent;
}

.form-container textarea{
    height: 120px;

}

.form-container input::placeholder, .form-container textarea::placeholder {
    font-size: 14px;

}

.form-container .submit{
    background-color: #222;
    color: #fff;
    border: 1px solid transparent;
    width: 100%;
    margin-left: 10px;
    position:  relative;
    cursor: pointer;
    transition: .5s;
}

.form-container .submit:hover{
    background-color: #fff;
    color: #222;
    border: 1px solid #222;

}

.copyright{
    color:#222;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.alinhar_botao{
    display: flex;
}
.base_tres.base_dois.base_cinco{
    background-color: var(--colorPurple);
}

@media screen and (min-width: 767px){
    .cell.sumir{
        display: none;
    }
    .digita.cell {
        display: none;
    }
    .form-container form{
        width: 90% !important;
    }
    .alinhar_botao{
        width: 52%;
    }
    
}
@media screen and (min-width: 768px ) and (max-width: 1140px ){
    .alinhar_botao{
        width:100%;
    }
    
}

@media screen and (max-width: 768px){
    .web.sumir{
        display: none;
    }
    .sobreMim .nome{
        font-size: 41px;
    }
    .sobreMim .texto-sobremim{
        margin-bottom: 30px;
    }
    .foto{
        width: 300px;
        margin-top: 0px;
    }
    .digita.cell {
        width: 28ch;
        font-size: 18px;
        margin: 10px 15px;
    }
    .digita.web{
        display: none;
    }
    .base .paragrafo{
        color: #fff;
    }
    .sobreMim{
        padding-bottom: 50px;
    }
    .sobreMim .botao{
        width: 93%;
    }
    .imagem_projetos.borda-animada{
        margin-bottom: 50px;
    }
    .base_tres .lista_dois {
        margin-top: 0px;
    }
    .base_tres, .base_dois{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .projetos.container .color-titulo{
        margin-bottom: 30px;
    }
    
    .form-container, .form-background{
        margin-left: 0px;
        width: 100% ;
    }
    .form-container form{
        width: 80%;
    }
    .form-container input, .form-container textarea {
        width: 100%;
    }
    .navbar .nav-topicos {
        margin-right: 20px;

    }
}
